.card{
    background-color: blanchedalmond;
    border-radius: 10px;
    padding: 8px;
    margin: 10px 0px;
}

.card-blue{
    background-color: rgb(14, 240, 240);
    border-radius: 10px;
    padding: 8px;
    margin: 10px 0px;
}